Welcome {{userData.name}} to Electal.





<div class="row d-flex justify-content-center">
  <div class="lds-ring" *ngIf="submitted">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div *ngIf="!submitted" class="col-10 login-image-main"  >
    <div #Messages></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12 user-login-box">

        <form (ngSubmit)="createElection(electionF)" #electionF='ngForm' name="asdas">
          <div class="d-flex row justify-content-end">
            <button type="submit" id="createButton" class="btn btn-default mt-4 mb-3" [disabled]="!electionF.valid">Create Election</button>
          </div>
          <div class="mb-3 row">
            <label for="societyName" class="col-sm-2 col-form-label">Society Name</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" id="societyName" value="{{userData.societyName}}">
            </div>
          </div>


          <div class="mb-3 row">
            <label for="term" class="col-sm-2 col-form-label">Term</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="term" value="2021-22">
            </div>
          </div>

        </form>



        <div class="mb-3 row">
          <label for="category" class="col-sm-2 col-form-label ">Polling Period</label>
          <div class="col-sm-10">
            <div >
                <mat-form-field appearance="fill" color = "accent" >
                  <mat-label style="color:black; ">Select polling dates</mat-label>
                  <mat-date-range-input [min]="minDate" [formGroup]="range" [rangePicker]="picker" >
                    <input matStartDate formControlName="start"  placeholder="Start date" style="color:white; ">
                    <input matEndDate formControlName="end" placeholder="End date" style="color:white; ">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
                </div>

          </div>
        </div>











        <!-- // add here -->
        <div class="mb-3 row">
          <label for="category" class="col-sm-2 col-form-label">Categories</label>
          <div class="col-sm-10">
            <div class="row mb-3">
              <span style="display:inline"><button (click)="addCategory()" name="asassafas"><i class="fas fa-plus-circle"></i> Add Category</button></span>
            </div>
            <div class="row mb-1" *ngFor="let category of categoryNames; let i = index; trackBy: customTrackBy">


              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Category Name" name="category{{i+1}}" value="{{category}}" [(ngModel)]="categoryNames[i]" [ngModelOptions]="{standalone: true}">
                <span class="binIcon input-group-text" style="display:inline" (click)="removeCategory(i)"><i class="fas fa-trash-alt"></i></span>
              </div>
            </div>
          </div>
        </div>



        <div class="mb-3 row">
          <label for="category" class="col-sm-2 col-form-label">Candidates</label>
          <div class="col-sm-10">
            <div class="row mb-3">
              <span style="display:inline-block"><button type="button" (click)="addCandidate()"><i class="fas fa-plus-circle"></i> Add Candidate</button></span>
            </div>

            <!-- <div class="scrollmenu"> -->
            <!-- <div class=" mb-1" style="display:inline" *ngFor="let candidate of candidateInfo; let i = index; trackBy: customTrackBy"> -->
            <div class="row d-flex justify-content-left">
              <div class="card m-2" style="width: 18rem;" *ngFor="let candidate of candidateInfo; let i = index; trackBy: customTrackBy">
                <div class="card-body">


                  <div class="d-flex justify-content-end">
                    <span class="binIcon" (click)="removeCandidate(i)"><i class="fas fa-trash-alt"></i></span>
                  </div>



                  <div class="mb-3">
                    <label for="categorySelect" class="form-label">Category</label><span class="red"> * </span>
                    <select id="categorySelect" class="form-select" [(ngModel)]="candidate.category">
                      <option value="{{category}}" *ngFor="let category of categoryNames; trackBy: customTrackBy">{{category}}</option>
                    </select>
                  </div>


                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label> <span class="red"> * </span>
                    <input type="email" class="form-control" id="name" name="candidateName{{i}}" placeholder="John Doe" [(ngModel)]="candidate.name">
                  </div>
                  <div class="mb-3">
                    <label for="course" class="form-label">Course</label>
                    <input type="email" class="form-control" id="course" name="candidateCourse{{i}}" placeholder="BSc. Artificial Intelligence" [(ngModel)]="candidate.course">
                  </div>
                  <div class="mb-3">
                    <label for="manifesto" class="form-label">Manifesto</label>
                    <textarea class="form-control" id="manifesto" rows="3" name="candidateManifesto{{i}}" placeholder="I am perfect for the role because..." [(ngModel)]="candidate.manifesto"></textarea>
                  </div>
                  <span class="chars">{{candidate.manifesto.length}} chars</span>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <!-- </div> -->

          </div>
        </div>





      </div>


    </div>
  </div>
</div>
