<!DOCTYPE html>
<html>

<head>
</head>

<body>



  <div class="row d-flex justify-content-center">
    <div class="lds-ring" *ngIf="submitted">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div *ngIf="!submitted" class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
      <div #Messages></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
          <img src="https://res.cloudinary.com/dbsuehmlk/image/upload/v1626190858/elections/user_huxxno.png">
        </div>
        <form (ngSubmit)="signIn(loginF)" #loginF='ngForm'>
          <div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
            <div class="form-group mb-2">
              <input type="text" class="form-control" placeholder="University Email" name="email" #email='ngModel' ngModel required email>
              <span *ngIf="email.touched && email.invalid" class='help-block'>Invalid Email. Must be a valid UoM email.</span>
            </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control" placeholder="Password" name="password" ngModel required #password='ngModel'>
              <span *ngIf="password.touched && password.invalid" class='help-block'>Password is required.</span>

            </div>
            <button type="submit" class="btn btn-default" [disabled]='!loginF.valid'>Login</button>
          </div>
        </form>

        <div class="col-md-12 col-sm-12 col-xs-12 last-part">
          <p>Not registered?<a routerLink="/signup"> Create an account</a></p>
          <p>Resend confirmation email? <a (click)="resendLinkBool = !resendLinkBool" id="resendToggle"> {{!resendLinkBool ? 'Tap':"Hide"}}</a></p>

          <div *ngIf="resendLinkBool">
            <form (ngSubmit)="sendVerificationEmail(linkResendF)" #linkResendF='ngForm'>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Already Registered Email" aria-label="Recipient's username" aria-describedby="button-addon2" required email ngModel #linkResendEmail="ngModel" name="email">
                <button type="submit" class="btn  btn-danger" [disabled]='!linkResendF.valid' id="button-addon2">Send</button>
              </div>
            </form>

          </div>




        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js" defer></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>



</html>
