
<nav class="navbar navbar-light  bg-light">
  <div class="container d-flex justify-content-center-custom">
    <ul class='nav middle-padding'>
      <li class="trans"><a class="navbar-brand" routerLink="/home">Elections Portal</a></li><span class="brandtitle"></span>
      <!-- <li class="trans"><a href="https://www.linkedin.com/in/aditya-5/" class="linkCol"><i class="fab fa-linkedin inline" ></i></a></li>
      <li class="trans"><a href="https://github.com/aditya-5" class="linkCol"><i class="fab fa-github inline" ></i></a></li>
      <li class="trans"><a href="https://www.instagram.com/imaa45" class="linkCol"><i class="fab fa-instagram inline" ></i></a></li>
      <li class="trans"><a href="https://www.facebook.com/Aditya.Agarwalll/" class="linkCol"><i class="fab fa-facebook inline" ></i></a></li>
      <li class="trans"><a href="https://twitter.com/ImAa45" class="linkCol"><i class="fab fa-twitter inline" ></i></a></li>
      <li class="trans"><a href="mailto:aditya.7@outlook.com" class="linkCol"><i class="fas fa-at inline" ></i></a></li> -->
    </ul>

      <ul class="nav">
        <li class="nav-item" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link linkCol"  routerLink="/">Home</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link linkCol"  routerLink="/portal">Portal</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link linkCol" routerLink="/voter">Voter</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item" style="margin:0px" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link linkCol" routerLink="/society">Society</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item" style="margin:0px" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">
          <button class="nav-link linkColWhite btn btn-danger btn-sm" (click)="logout()">Logout</button>
        </li>

      </ul>

    </div>
<!--
  </div> -->
</nav>
